.read{
    color: hsl(10, 100%, 50%);
}

.read:hover{
    color: hsl(10, 100%, 35%);
}

.hw_label{
    color: hsl(190, 35%, 25%);
    display: inline-block;
    font-style: bolder;
}

.excerpt{
    margin-bottom: 15px;
}

.hr{
    background-color: hsl(50, 80%, 72%);
}