.list{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
}

.list li{
    margin: 14px 7px 14px 7px;
}

.list a{
    color: hsl(10, 100%, 80%);
}

.list a:hover{
    color: hsl(10, 100%, 65%);
}

.top{
    background-color: hsl(190, 35%, 25%);
}

.logo{
    font-style: normal;
    text-transform: none;
}